.modal {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    overflow:auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.3);

    

}

.modal-content{
    background-color:white;
    border-radius:20px;
    margin:3% auto;
    padding:20px;
    border: 1px solid #777;
    width:40%;
    height:710px;
    animation: modal-load 300ms ease-in;

    

}

@keyframes modal-load {
    0% {
        transform:translateY(-100%);
    }

    100% {
        transform:translateY(0);
    }
}

.close {
    color:#aaa;
    float:right;
    position:relative;
    top:-10px;
    font-size:30px;
    font-weight:bold;
    z-index:200;
}

.close:hover,.close:focus {
    color:black;
    text-decoration:none;
    cursor:pointer;
}
.modal-heading {
    text-align:center;
    font-size:25px;
}
input {
    height:25px;
    margin-top:5px;
    padding:5px 8px;
    background-color:floralwhite;
    font-size:18px;
    border:none;
}
label {
    font-size:20px;
    color:#262626;
    
}
p {
    font-size:20
}
hr {
    position:relative;
    top:2px;
    margin-left:auto;
    border: 2px solid #2B3332;
    border-radius:1px;
    opacity:0.2;
}

.user-name {
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:20px 20px;
    label {
        font-size:20px;
        #fname, #lname {
            width:100%;
        }
    }
}

.user-email {
    margin:20px 20px;
    #email {
        width:100%;
    }
}

.user-subject {
    margin:20px 20px;
    #subject {
        width:100%;
    }
}

.user-content {
    margin:20px 20px;

    textarea {
        background-color:floralwhite;
        resize:none;
        width:96%;
        font-size:20px;
        padding:20px 20px;
        border:none;
        top:0;
    }


}

.sendBtn {

    border-radius:20px;
    position:absolute;
    top:85%;
    width:40%;
    left:30%;
    font-size:30px;

    animation: fade-in 1s ease-in;
}

@keyframes fade-in {
    0% {
        opacity:0;
    }
    25% {
        opacity:0;
    }
    75% {
        opacity:0.80;
    }
    100% {
        opacity:1;
        width:40%;
    }
    
}


.expand{

    z-index:200;
}



.inside-textarea .divBtn {
    position:absolute;
    top:5px;
    right:0;
}

.inside-textarea .divBtn:hover {
    color:red;

}