.modal {
    position:fixed;
    top:-40vh;
    left:-10vw;
    width:100vw;
    height:100vh;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.3);
    z-index:1000;

}
.modal-content{
    border-radius:20px;
    position:static;
    margin-left:55vw;
    padding:40px;
    background-color:white;
    margin-top:4%;
    width:30%;
    height:700px;
    animation: modal-load 500ms ease-in;

    transition: fade-in 3s;
    overflow:hidden;
}

@keyframes modal-load {
    0% {
        transform:scale(0.6) rotate(10deg) translateY(80%);


    }
    100%{
        transform:scale(1) rotate(0) translate(0%);

    }
}
.modal-heading {
    margin-left:4px;
    position:relative;
    font-size:40px;
    top:-15px;
    width:42%;
    z-index:5;
    border-bottom:1px solid #042F4B;
}

.close {
    float:right;
    transform:scale(1.4);
}
.form-div {
    margin:5px;
    transition:all 0.5s;
    width:98%;
    animation: fade-up 2s ease-in;

    opacity:0;
    animation-fill-mode: forwards;
}

@keyframes fade-up {
    0% {
        opacity:0;
        transform:translateY(-15px);
    }
    50% {
        opacity:0.50;
        transform:translateY(-5px);
    }
    100% {
        opacity:1;
        transform:translateY(0px);
    }
}

.form-label {
    display:block;
    transform:translateY(-1.45em) translateX(0.8em);
    transform-origin: 0,0;
    transition:all 0.5s;
    font-size:1.2em;
    opacity:0.7;
    pointer-events:none;

}
.form-label-text-area {
    display:block;
    transform:translateY(-19em) translateX(0.8em);
    transform-origin: 0,0;
    transition:all 0.5s;
    font-size:1.2em;
    opacity:0.7;
    pointer-events:none;


}
.form-input {
    padding:5px;
    border-color:gray;
    border-style: none none solid none;
    box-shadow:none;
    outline:none;
    width:95%;
    transition:all 0.5s;
    height:20px;
}

.form-text-area {
    width:96%;
    margin-top:20px;
    height:20em;
    transition:all 0.5s;
    border-width:2px;
    border-style: solid solid solid solid;
    outline:none;
    border-color:gray;
    padding:5px;
    font-size:18px;
    resize:none;
}
.form-text-area:focus {
    border-color:red;
}
.user-name {
    display:flex;
    column-gap:20px;
    width:100%;
    .first-name, .last-name {
        width:90%;
    }
}

.form-input::placeholder,
.form-text-area::placeholder {
    color:transparent;
}

.form-input:focus {
    border-color:red;
}
.form-div:focus-within {
    transform:scale(2);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
    transform:translateY(-2.5em);
}

.form-text-area:focus + .form-label-text-area,
.form-text-area:not(:placeholder-shown) + .form-label-text-area
 {
    transform:translateY(-21em);
}


.sendBtn {
    margin-top:10px;
    width:100%;
    position:relative;
    left:0px;
    z-index:100;

}
.close {
    transform:scale(2);
    transition:all 0.3s;
}
span:hover {
    cursor:pointer;
    color:red;
    transform:scale(2.5);
}
