/*
*   Globally set margin and padding defaults to 0
*/

* {
    margin:0;
    padding:0;
}

/* .nav-bar -> Link, Nav -> UL -> LI -> NavLink -> FontAwesomeIcon */

.nav-bar {
    display:flex;
    position:absolute;
    justify-content:center;
    align-items:center;
    height:50px;
    padding: 10px 35px;
    z-index:90;
    width:95vw;
    animation: nav-load 300ms ease-in;
}

@keyframes nav-load {
    0% {
        transform:translateY(-100%);
    }
    100% {
        transform:translateY(0);
    }
}


/* Navigation menu icons to navigate to different pages*/

.about-icon, .project-icon, .demo-icon, .feedback-icon, .person-icon {

    height:30px;
    transition:height 0.6s ease-in;

}

.about-icon{
    margin-left:5px;
}

.project-icon{
    margin-left:12px;
}
.demo-icon{

}
.feedback-icon{
    margin-left:16px;
}
.person-icon{
    margin-left:25px;
}



/* Navigation menu icons to navigate to different websites */



/* Removing bullet points from ul list */

ul {
    list-style:none;

    /* Making list display horizontally rather than vertically, and adding margin spacing between each other */

    li {
        display:inline-block;
        margin:0px 40px;
    }
}

/* Changing the hyperlink default colors to white, it's position relative, and no text decoration. */

a {
    color: #F2294E;
    display:block;
    position:relative;
    text-decoration:none;
    letter-spacing:1.5px;


}

.hideMe {
    text-align:center;
    letter-spacing:2px;
    transition: all 0.3s ease-in;
    position:relative;
    opacity:0;
}


p {
    font-size:20px;
    transition:all 0.3s;
}
li:hover {
    p {
        font-size:22px;
    }
}




    

















