/*
*   Globally set margin and padding defaults to 0
*/

* {
    margin:0;
    padding:0;
}

/* .nav-bar -> Link, Nav -> UL -> LI -> NavLink -> FontAwesomeIcon */

.nav-bar {
    display:flex;
    position:absolute;
    justify-content:center;
    align-items:center;
    height:50px;
    padding: 10px 35px;
    z-index:90;
    width:95vw;
    animation: nav-load 300ms ease-in;
}

@keyframes nav-load {
    0% {
        transform:translateY(-100%);
    }
    100% {
        transform:translateY(0);
    }
}


/* Navigation menu icons to navigate to different pages*/

.nav-icon {
    display:none;
    font-size:30px;
}





/* Navigation menu icons to navigate to different websites */



/* Removing bullet points from ul list */

ul {
    list-style:none;

    /* Making list display horizontally rather than vertically, and adding margin spacing between each other */

    li {
        display:inline-block;
        margin:0px 40px;
    }
}

/* Changing the hyperlink default colors to white, it's position relative, and no text decoration. */

a {
    color: #F2294E;
    display:block;
    position:relative;
    text-decoration:none;
    letter-spacing:1.5px;


}

.active {
    color:white;
}

.hideMe {
    text-align:center;
    letter-spacing:2px;
    transition: all 0.3s ease-in;
    position:relative;
    opacity:0;
}


p {
    font-size:20px;
    transition:all 0.3s;
}
li:hover {
    p {
        font-size:22px;
    }
}

.checkbtn {
    font-size:30px;
    color:black;
    float:right;
    position:absolute;
    right:80px;
    cursor:pointer;
    display:none;
}

#check {
    display:none;
}

@media screen and (max-width:680px) {
    

    .nav-icon {
        display:block;
        position:relative;
        left:-20px;
        font-size:6vw;
        top:20px;
    }
    .nav-text {
        display:none;
    }
}

@media screen and (max-width:480px) {
    

    .nav-icon {
        display:block;
        position:relative;
        left:-20px;
        font-size:5vw;
    }
    .nav-text {
        display:none;
    }
    ul {   
        li {
        position:relative;
        left:-10px;
        margin:0px 20px;
        }
    }
}


    

















