.load-div {
    display:flex;
    justify-content:center;
    width:100vw;
    height:100vh;
    background-color:red;
    display:inline-block;
    
    h1  {
        position:absolute;
        left:45%;
        top:45%
    }   
    .dots {
        position:absolute;
        left:45%;
        top:50%;
    }
    
}