
/* Background of entire page */

.background {
    height:91.9vh;
}

.heading-container{
    position:absolute;
    top:40%;
    opacity:0;
    animation:from-left 1s;
    animation-delay:1s;
    transition-property:all;
    animation-fill-mode:forwards;
}

.heading-content {
    position:relative;

}

@keyframes from-left {
    0% {
        transform:translateX(-1000px);
        opacity:1;
    }
    40% {
        transform:translateX(100px);
    }
    75% {
        transform:translateX(-100px);
    }
    100% {
        transform:translateX(0px);
        opacity:1
    }
}

div#home {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: #fffaf0;

}
.about-nav {
    a {
        color: #FBBD0D;
    }
}
h1 {
    font-size:55px;
    color: #042F4B;
    margin-bottom:7px;
}

h4 {
    font-size:25px;
    position:relative;
    left:90px;
    color: #262626;
    opacity:0.8;
    margin:-5px 0px 0px 0px;
    
}

h5 {
    font-size:30px;
    color:#262626;
    opacity:0.8;
    margin-bottom:-7px;
   
}

button#myBtn {
    display:flex;
    align-self:center;
    justify-content:center;
    width:120px;
    height:35px;
    border-radius:4px;
    border:none;
    left:38%;
    padding-top:5px;
    margin: 20px 0px 0px 0px;
    background: #F2294E;
    p {
        color:whitesmoke;
    }
}

button#myBtn:hover {
    background:#052446;
    cursor:pointer;
    p {
        color:white;
    }    
    
}   
button#myBtn:active {

    scale:(0.9);
}

.heading-links {
    position:absolute;
    width:120px;
    height:120px;
    display:flex;

    align-items:center;
    justify-content:center;

    bottom:-25px;
    left:0px;

    .heading-linkedin, .heading-github {
        background-color:#052446;
        display:flex;
        align-items:center;
        padding-top:2px;
        justify-content:center;
        width:35px;
        height:35px;
        margin: 0px 7px 0px 7px;

        transition: all 0.6s;
        border-radius:10px;
    }

    .linkedin-icon, .github-icon {
        width:20px;
        height:50px;
        color:floralwhite;
    }
    
    .heading-linkedin:hover,.heading-github:hover {
        border-radius:50%;
        transform:scale(1.2);
        background-color:#F2294E; 
    }
    
    
}

@keyframes on-click {
    0% {
        transform:scale(1)
    }
    50% {
        transform:scale(0.2)
    }
    100% {
        transform:scale(1)
    }
}

/* Media Queries */


    /* ----------- Laptops ----------- */
    @media screen 
    and (min-device-width: 769px) 
{ 
        .heading-container {
            left:10%;

        }
        button#myBtn {
            position:relative;
            display:flex;
        }
    }

    /* Tablets */



    /* Phones (Portrait) / Tablets */

    @media only screen and (max-width:768px) 

    {
            div#home {
                overflow:hidden;
            }

            .heading-container{

                width:100vw;
                height:180px;
                left:5%;
                margin:auto;
                h5 {
                    font-size:4vw;
                }
                h1{
                    font-size:8vw;
                }
                h4 {
                    left:10%;
                    font-size:3.9vw;
                }
            }

            button#myBtn {
                position:relative;
                top:-12px;
                left:30%;
            }

            .home-canvas {
                visibility: hidden;
            }

           

    }
    